{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
<ul class="note list">
    {{- range $paginator.Pages -}}
      {{- $relURL := replace .RelPermalink "#" "%23" -}}
      {{- $relURL = replace $relURL "." "%2e" -}}
    <li class="item">
        {{ if .Params.external }}
        <a class="post-card-link" href="{{- .Params.externalUrl -}}">
        {{else}}
        <a class="post-card-link" href="{{- $relURL -}}">
        {{end}}
        <article class="article markdown-body post-card">
            <p class="note title">{{- .Title | safeHTML -}} {{ if .Params.external }} ⇗{{end}}</p>
            {{- if .Lastmod -}}
                <p class="note date">{{- .Lastmod.Format $dateFormat -}}</p>
            {{- end -}}
            {{- if .Summary -}}
            <div class="note content"><p>{{- .Summary | plainify | truncate 250 -}}</p></div>
            {{- end -}}
            {{- if .Truncated -}}
            <div class="note read-more">
                <span>Read more &rarr;</span>
            </div>
            {{- end -}}
        </article>
        </a>
        {{- partial "note-labels.html" . -}}
    </li>
    {{- end -}}
</ul>
{{- end -}}
