{{- $nav := . -}}
<div class="nav wrap">
    <nav class="nav">
                <a class="nav item" href="/about">&nbsp;About</a>
        <a class="nav item" href="/software">&nbsp;Software</a>
        <a class="nav item" href="https://github.com/choudeshell"><i
                class="fa-brands fa-github-alt"></i>&nbsp;</a>
        <a class="nav item" href="/tags"><i class="fa-solid fa-tag"></i>&nbsp;</a>
        {{- range $nav.custom -}}
        {{- $url := replace .url "#" "%23" -}}
        {{- $url = replace $url "." "%2e" -}}
        {{- $url = $url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <a class="nav item" href="{{- $url -}}" {{- if strings.HasPrefix $url "http" -}}target="_blank"
            rel="noopener noreferrer" {{- end -}}>{{- .title -}}</a>
        {{- end -}}



        {{- if $nav.showCategories -}}
        <a class="nav item" href="{{- `categories/` | relLangURL -}}">{{- T "Categories" -}}</a>
        {{- end -}}
        {{- if $nav.showTags -}}
        <a class="nav item" href="{{- `tags/` | relLangURL -}}">{{- T "Tags" -}}</a>
        {{- end -}}
    </nav>
</div>