{{- define "main" -}}
<div class="article-container">
<article class="article markdown-body fourohfour">
  <div class="fourohfour-content">
    <pre class="fourohfour-ascii">
     _  _    ___  _  _
    | || |  / _ \| || |
    | || |_| | | | || |_
    |__   _| | | |__   _|
       | | | |_| |  | |
       |_|  \___/   |_|
    </pre>
    <div class="fourohfour-terminal">
      <div class="fourohfour-titlebar">
        <span class="fourohfour-dot dot-red"></span>
        <span class="fourohfour-dot dot-yellow"></span>
        <span class="fourohfour-dot dot-green"></span>
      </div>
      <div class="fourohfour-body">
        <p class="fourohfour-line"><span class="fourohfour-prompt">$</span> curl -I {{ .Site.BaseURL }}{{ with .File }}{{ .Path }}{{ end }}</p>
        <p class="fourohfour-line fourohfour-response">HTTP/1.1 <span class="fourohfour-status">404 Not Found</span></p>
        <p class="fourohfour-line fourohfour-response">Content-Type: text/disappointment</p>
        <p class="fourohfour-line fourohfour-response">X-Blame: probably-dns</p>
        <p class="fourohfour-line fourohfour-response">X-Suggestion: have you tried turning it off and on again</p>
        <p class="fourohfour-line">&nbsp;</p>
        <p class="fourohfour-line"><span class="fourohfour-prompt">$</span> dmesg | tail -1</p>
        <p class="fourohfour-line fourohfour-response">[<span class="fourohfour-ts">404.000000</span>] page_fault: unable to handle request at virtual address 0xDEADBEEF</p>
        <p class="fourohfour-line">&nbsp;</p>
        <p class="fourohfour-line"><span class="fourohfour-prompt">$</span> git log --oneline -1</p>
        <p class="fourohfour-line fourohfour-response"><span class="fourohfour-hash">e4c3b00</span> remove page nobody will ever need again</p>
        <p class="fourohfour-line">&nbsp;</p>
        <p class="fourohfour-line"><span class="fourohfour-prompt">$</span> <a href="/" class="fourohfour-home">cd ~</a><span class="fourohfour-cursor">_</span></p>
      </div>
    </div>
  </div>
</article>
</div>
{{- end -}}
